{% extends "base.html" %}

{% block content %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Short URL</th>
                <th scope="col">Original URL</th>
                <th scope="col">AccessCount</th>
            </tr>
        </thead>
        <tbody>
            {% for short_url in short_urls %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ short_url.code }}</td>
                    <td>{{ short_url.original_url }}</td>
                    <td>{{ short_url.access_count }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No Data Available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}