{% load static %}
<link rel="stylesheet" href="{% static "style.css" %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

<h2>게시글 목록</h2>
{% if posts %}
    <ul>
        {% for post in posts %}
            <li><a href="{% url "post" post.id %}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Posts</p>    
{% endif %}


<hr>
<form action="{% url 'posts' %}" method="post">
    {% csrf_token %}
    <h2>새로운 게시글 작성</h2>
    {{form}}
    <!-- <label for="title">제목: </label>
    <input type="text" id="title" name="title" autocomplete="off" required>
    <label for="body">본문: </label>
    <input type="text" id="body" name="body" autocomplete="off" required>
    <label for="author_name">작성자: </label>
    <input type="text" id="author_name" name="author_name" autocomplete="off" required> -->
    <input type="submit" value="작성">

</form>